/* Universal Selectors */

* {
    text-decoration: none;
    list-style: none;
    font-family: "Ubuntu";
  
  }
  
  ::selection {
    background: yellow;
    color: black;
  }
  
  :root {
    --subtitle-color1: linear-gradient(to right, transparent, silver);
    --subtitle-color2: linear-gradient(to right, transparent, gray);
    --base-background: linear-gradient(to bottom, transparent, rgb(1, 1, 203));
    --header-background: rgb(0, 0, 0, 0.6)
  }
  
  a:link {
    color: silver;
  }
  
  a:visited {
    color: silver;
  }
  
  a:hover {
    color: black;
  }
  
  a:active {
    color: purple;
  }
  
  ul>li {
    border-radius: 10px;
  }
  
  header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    background: var(--header-background);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    max-height: 5vh;
  }
  
  .logo img {
    display: inline-block;
    width: 70px;
  }
  
  [title] {
    opacity: 0.5;
  }
  
  
  .menu {
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 0px;
  }
  
  .menu li:hover {
    background-color: white;
    transition: ease 0.5s;
    color: black;
  
  }
  
  body {
    padding: 0px;
    margin: 0px;
    background-color: rgb(21, 21, 124);
    overflow-x: hidden;
    width: 100vw;
  }
  
  main {
    width: 100vw;
  }
  
  
  /* Header styling */
  header a,
  footer a {
    border-radius: 20px;
    padding: 10px;
  }
  
  header li {
    padding: 10px;
  }
  
  header img,
  footer img {
    filter: invert(100%);
  }
  
  
  
  /* Hero Cover Section */
  #cover {
    padding-top: 15%;
    padding-bottom: 10%;
    background-image: linear-gradient(to bottom,
        rgb(0, 0, 0, 0),
        rgba(46, 11, 247, 0.2) 90%), url('../assets/stadium-corner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: silver;
    height: 24rem;
  }
  
  #big-logo {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
  }
  
  #big-logo img {
    height: 100%;
    width: auto;
    display: flex;
    justify-self: center;
    filter: invert(100%);
  }

/* Blur effect below Hero Cover  */
  #block {
    position: absolute;
    background: var(--base-background);
    height: 100px;
    width: 100%;
    z-index: 10001;
    bottom: 99%;
    filter: blur(30px);
  }

/* First Article */
#section1 {
    background: transparent;
    width: 100%;
    color: silver;
    position: relative;
  }
  
  h1 {
    margin: 0px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background: var(--subtitle-color1);
    text-align: center;
  
  }
  
  p {
    padding: 30px;
    margin: 0px
  }
  
  #what {
    background: linear-gradient(to bottom, black, transparent);
    padding-top: 2%;
  }
  
  #how {
    background: linear-gradient(to top, black, transparent);
  }
  
  #article1-pics {
    background: linear-gradient(to bottom, black, transparent);
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
    gap: 10px;
    padding-top: 5%;
    padding-bottom: 5%;
    flex-wrap: nowrap;
  
  }
  
  #article1-pics picture {
    height: 300px;
  }
  
  #article1-pics img {
    max-width: 100%;
    max-height: 100%;
  }
  
  #article1-pics #seriea {
    min-height: 100px;
    max-width: 100%;
  }

/* Footer */

footer {
    background-color: black;
    color: white;
    width: 100vw;
  }
  
  footer ul {
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  
  footer p {
    box-sizing: border-box;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    border: none;
    border-top: solid;
  
  }
  
  #bot-nav a:hover {
    color: white;
  }
  
  #bot-nav li:hover:not(:last-child) {
    border: solid;
    border-width: 2px;
    border-color: silver;
    color: white;
  }
  
  #bot-nav li:hover:last-child {
    opacity: 0.5;
    cursor: pointer;
  }

  /* HTML5 Contact Form */
button {
    padding: 1%;
    background: var(--subtitle-color1);
    border: none;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 30%;
    cursor: pointer;
    font-size: 2rem;
  }
  
  .btn-container {
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    justify-content: center;
  }
  
  #form-box {
    background: var(--base-background);
    width: 100%;
  }
  
  #contact-form {
    display: grid;
    grid-template-areas:
      'h2 h2'
      'first last'
      'email phone';
    grid-gap: 50px;
    margin: 20px;
    padding-right: 3%;
    padding-bottom: 3%;
  }
  
  h2 {
    text-align: center;
    grid-area: h2;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    background: var(--subtitle-color1);
    color: silver;
  }
  
  #first-name {
    grid-area: first;
  }
  
  #last-name {
    grid-area: last;
  }
  
  #email-field {
    grid-area: email;
  }
  
  #phone-field {
    grid-area: phone;
  }
  
  #contact-form label,
  #contact-form input,
  #contact-form select,
  #contact-form textarea {
    margin: 4px;
    padding: 3px;
    margin-top: 0px;
    margin-bottom: 1px;
    display: block;
    width: 95%;
  }
  
  #contact-form label {
    text-align: left;
  }

  /* Fonts */
.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#menu-toggle {
  display: none;
}

.menu-button {
  display: none;
  padding: 10px;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
}













/* Media Queries for Mobile Responsive Design */
@media screen and (max-width: 640px) {

    header {
      max-height: 10%;
      top: 0%;
      justify-content: center;
      padding-right: 10px;
      background: transparent;
    }
  
    .menu {
      position: relative;
      left: -100vw;
      top: 13vh;
      transition: left .55s ease;
      flex-direction: column;
      justify-content: flex-start;
    }
  
    .logo img {
      width: 70px;
    }
  
    #article1-pics {
      flex-direction: column;
      padding-left: 5%;
      padding-right: 5%;
    }
  
    #checkbox:checked~.menu {
      left: -8vw;
      border: solid;
      border-color: red;
    }
  
    #menu-toggle {
      display: block;
    }
  
    /* #checkbox:checked ~ .menu {
      display: flex;
      position: absolute
    } */
  
    .menu-icon {
      padding-right: 40px;
      width: 60px;
    }
  
    .menu-button {
      display: inline-block;
      cursor: pointer;
    }
  
    footer ul {
      flex-direction: column;
      justify-content: space-between;
      padding: 0px;
      padding-top: 2%;
      padding-bottom: 2%;
    }
  
    footer ul li {
      padding: 4%;
    }
    footer a:hover {
    border: solid;
    border-width: 2px;
    border-color: silver;
    color: white;
    }
}